{% extends "base.html" %} {% block header %}
<h4 class="m-0">📅 Расписание</h4>
{% endblock %} {% block content %}
<div class="card shadow-sm">
	<div class="card-body">
		<h5 class="card-title">APKLife</h5>
		<div class="info-card">
			<b>APKLife</b> — это проект для студентов и
			преподавателей АПК Альметьевск, позволяющий удобно
			просматривать актуальное расписание занятий с любого
			устройства: смартфона, планшета или компьютера.
		</div>
		<br />
		<h5 class="card-title">Технологии проекта</h5>
		<div class="info-card" style="margin-bottom: 5px">
			<b>Flask + FastAPI</b> - Веб-фреймворк + API
		</div>
		<div class="info-card">
			<b>
				<a href="https://it-institut.ru"
					>it-institut.ru</a
				></b
			>
			- Поставщик расписания
		</div>
	</div>
	{% endblock %}
</div>
